body {
  margin: 0;
  font-family: 'LATO', sans-serif;
  background-color: #0A0A0A;
  color: #EAEAEA;
  text-align: center;
}

header {
  padding: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.hero {
  padding: 50px 20px;
}

.cta-button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #9B1B30;
  color: White;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #c90063;
}
tttnpfooter {
  padding: 20px;
  background-color: #4B1032;
  margin-top: 50px;
  font-size: 14px;
}